h1{
color:rgb(0, 153, 255);
font-size: 30px;
text-align: center;
font-family: cursive;
}
h3{
  color:rgb(23, 73, 167);
  font-family:fantasy;
}
body{
  background-color:rgb(159, 211, 245);
}
.purple{
 color: palevioletred;
  font-family:'Times New Roman', Times, serif;
}
.orange{
  color:rgb(92, 115, 194);
}
.background{
  background-color: powderblue;
}
.blue{
  background-color: papayawhip;
}
.font{
  font-family: cursive;
  color: rgb(123, 216, 180);
}
.background1{
  background-color: azure;
}
.beach{
  font-family: cursive;
  color: purple
}
.dog{
  color: plum;
  font-family: cursive;
}
.column{
  float: left;
  width:50%;
}
.row{
  content:"";
  display:table;
  clear:both;
}
.column1{
  float: left;
  width:25%;
  background-color: rgb(180, 180, 255);
}
.row1{
  content:"";
  display:table;
  clear:both;
  
}
.yellow{
  background-color: rgb(180, 180, 255);
}
.navbar {
  background-color: rgb(169, 150, 238);
  overflow: hidden;
}
.navbar a {
float:left;
color:rgb(222, 198, 243);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size:17px;
}
.navbar a:hover {
background-color:pink;
color:rgb(128, 175, 238);
}
.navbar a.active {
  background-color: rgb(99, 99, 241);
  color:white;
}
.gray{
  color:pink;
  text-align: left;
  font-family: cursive;
}
.column2{
  float: left;
  width:25%;
}